*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    height: 100vh;
    width: 100vw;
  background-image: url(bg.jpg);
  background-size: cover;
    background-repeat: no-repeat;
    color: white;
    font-weight: 900;
    font-size: 10vw;
    display: flex;
    align-items: center;
    justify-content: center;
}